extends layout

block content

    .content
        h1= title

        form.new-post(method="post", role="form")
            fieldset
                .form-group
                    label(for="editArticleTitle") Title
                    input.form-control(name="title", id="editArticleTitle")
                .form-group
                    label(for="editPostUrl") Post URL
                    input.form-control(name="postUrl", id="editPostUrl")
                .form-group
                    label(for="editArticleBody") Body
                    textarea.form-control(name="body", rows=20, id="editArticleBody")
            button.btn.btn-primary(type="submit") Submit Post
        .preview-container
            h2.centered Post Preview
        .post-preview

block scripts
    script(type="text/javascript", src="/scripts/marked.js")
    script(type="text/javascript", src="/scripts/main.js")