extends layout

block content
	.content
		ul#articles
			- each article in articles
				li.article
					h2.title
						a(href="/blog/"+article.postUrl)!= article.title
					.created-at posted on #{article.created_at}
					.article-body!= article.body
		//- a(href="/blog/new").pull-right Create a new blog post