doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1")
        title jason on the web
        link(rel="stylesheet", href="/styles/bootstrap.min.css")        
        link(rel="stylesheet", href="/styles/main.css")
        block styles
    body
        nav(role="navigation").navbar.navbar-inverse
            .navbar-header
                button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a(href="#" ).navbar-brand jason on the web
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                    li: a(href="/") home
                    li: a(href="/work") stuff i've done
                    li: a(href="#") about
        block content

    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", src="//localhost:35729/livereload.js")
    block scripts