extends layout

block content
    
    .content
        h1 hello jason, please log in.

        form.form-inline(method="post", role="form")
            fieldset
                .form-group
                    input.form-control(name="username", placeholder="Username", id="username")
                .form-group                
                    input.form-control(name="password", type="password", placeholder="Password", id="password")
                .form-group
                    input.btn.btn-primary(type="submit", value="Log In")
